*{
	
}

:root{
	
}

.container{
	background-color: #eee;
}

footer{
	padding: 1rem;
	color: white;
	background-color: black;
}

form{
	margin: 2rem 0;
}

header{
	color: white;
	background-color: black;
}

header li{
	color: white;
	list-style-type: none;
}

#commentsSection{
	margin: 1rem 0;
	list-style-type: none;
}

.tagMaker{
	margin: 1rem 0;
}