*{
	
}

:root{
	
}

.container{
	background-color: #eee;
}

footer{
	padding: 1rem;
	color: white;
	background-color: black;
}

header{
	color: white;
	background-color: black;
}

header li{
	color: white;
	list-style-type: none;
}

.tags, .comments{
	list-style: none;
}