<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Doggo</title>
</head>
<body>
	<h1>Add a Doggo!</h1>
	<form action="/doggos" method="post">
		<label for="title">Name/Title: <input type="text" name="title"/></label>
		<label for="url">Image Url: <input type="text" name="url"/></label>
		<label for="category">Category: <input type="text" name="category"/></label>
		<label for="review">Your Review: <input type="text" name="review"/></label>
		<input type="submit" name="submit"/>
	</form>

</body>
</html>
