<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
	
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
	<header>
		<h1>Doggo Reviews</h1>
	</header>
	<main>
		<ul>
			<li><a href="./doggos" >Doggos</a></li>
			<li><a href="./categories">Categories</a></li>
			<li><a href="./tags">Tags</a></li>
		</ul>
	</main>
	<footer>
		<small>&copy; WCCI 2018</small>
		<small><a href="https://omfgdogs.com">if you like dogs</a></small>
	</footer>
</div>
</body>
</html>