<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${doggo.title}"></title>
	
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
	<header>
		<h1 th:text="|${doggo.title} Boy|"></h1>
		<ul>
			<li><a href="../doggos" >Doggos</a></li>
			<li><a href="../categories">Categories</a></li>
		</ul>
	</header>
	<main>
		<figure>
			<p>Category: </p>
			<a th:href="|../categories/${doggo.category.id}|"><span th:text="${doggo.category.name}">category</span></a>
			<img th:src="@{|/images/${doggo.url}|}">
			<figcaption th:text="${doggo.review}"></figcaption>
		</figure>
		<section>
			<h3>Comments</h3>
			<form action="/comment" method="post">
  <textarea name="message" rows="8" cols="50">The cat was playing in the garden.</textarea>
  <br>
  <input type="submit">
		</section>
	</main>
	<footer>
		<small>&copy; WCCI 2018</small>
		<small><a href="https://omfgdogs.com">if you like dogs</a></small>
	</footer>
</div>
</body>
</html>