<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${doggo.title}"></title>
	
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
	<header>
		<h1 th:text="|${doggo.title} Boy|"></h1>
		<ul>
			<li><a href="../doggos" >Doggos</a></li>
			<li><a href="../categories">Categories</a></li>
		</ul>
	</header>
	<main>
		<figure>
			<p>Category: </p>
			<a th:href="|../categories/${doggo.category.id}|"><span th:text="${doggo.category.name}">category</span></a>
			<img th:src="@{|/images/${doggo.url}|}">
			<figcaption th:text="${doggo.review}"></figcaption>
		</figure>
		
		<form th:action="|../doggos/${doggo.id}/add-tag|" method="post">
			<label>New Tag: <input type="text" name="tag" /></label>
			<input type="submit" value="Submit" />
		</form>
		
		<form th:action="|../doggos/${doggo.id}/add-comment|" method="post">
			<label>Username: <input type="text" name="userName" /></label>
			<label>Comment: <input type="text" name="comment" /></label>
			<input type="submit" value="Submit" />
		</form>
		
		<ul>
			<li th:each="userComment : ${doggo.comments}">
				<h3 th:text="${userComment.userName}"></h3>
				<p th:text="${userComment.comment}"></p>
			</li>
		</ul>
	</main>
	<footer>
		<small>&copy; WCCI 2018</small>
		<small><a href="https://omfgdogs.com">if you like dogs</a></small>
	</footer>
</div>
</body>
</html>