<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${doggo.title}"></title>
	
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
	<header>
		<h1 th:text="|${doggo.title} Boy|"></h1>
		<ul>
			<li><a href="../doggos" >Doggos</a></li>
			<li><a href="../categories">Categories</a></li>
		</ul>
	</header>
	<main>
		<figure>
			<p>Category: </p>
			<a th:href="|../categories/${doggo.category.id}|"><span th:text="${doggo.category.name}">category</span></a>
			<img th:src="@{|/images/${doggo.url}|}">
			<figcaption th:text="${doggo.review}"></figcaption>
			<div class="tag-section">
				<ul class="tags">
					<li th:each="tag : ${doggo.tags}">
						<a th:href="|/tags/${tag.tagName}|" th:text="${tag.tagName}">Tag</a>
					</li>
				</ul>
				<form action="./add-tag" method="post">
					<label>New Tag: <input id="tagInput" type="text" name="tagName" /></label>
					<button class="tagButton">Add Tag</button>
				</form>
			</div>
		</figure>
		<section class="comment-section">
			<h3>Comments</h3>
				<ul id="comments">
					<li th:each="comment : ${doggo.comments}">
						<h3>Anonymous</h3>
						<p th:text="${comment.text}"></p>
					</li>
				</ul>
			<form th:action="@{|doggos/${doggo.id}/add-comment|}" method="post">
			  <textarea name="message" rows="8" cols="50">Enter your comment here!</textarea>
			  <input type="hidden" th:value="${doggo.id}" name="id" />
			  <br>
			  <input type="submit">
			</form>
		</section>
	</main>
	<footer>
		<small>&copy; WCCI 2018</small>
		<small><a href="https://omfgdogs.com">if you like dogs</a></small>
	</footer>
	<script src="/js/app.js"></script>
</div>
</body>
</html>