
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Doggos</title>
	
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
	<header>
		<h1>Doggos</h1>
		<ul>
			<li><a href="../doggos" >Doggos</a></li>
			<li><a href="../categories">Categories</a></li>
		</ul>
	</header>
	<main>
		<ul>
			<li th:each="doggo : ${doggos}"><a th:href="|/doggos/${doggo.id}|" th:text="|${doggo.title} Boy|">Doggos</a></li>
			<br>
			<li><a href="doggos/add-doggo">Add a new Doggo Boy</a></li>
		</ul>
	</main>
	<footer>
		<small>&copy; WCCI 2018</small>
		<small><a href="https://omfgdogs.com">if you like dogs</a></small>
	</footer>
</div>
</body>
</html>